.btn{
  cursor: pointer;
  background: $main;
  color: $light;
  font-weight: 700;
  border: none;
  padding: .6rem .8rem;
  &.light{
    background: $light;
    color: $main;
  }
  &.green{ background: #05D36B; }
}