.Home{
  .folders{
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding: var(--wrapper-padding);
    &::-webkit-scrollbar {
      height: .25rem;
    }
    &::-webkit-scrollbar-thumb {
      background: $light;
    }
    input[type=radio]{
      position: absolute;
      opacity: 0;
      &:focus-visible + label{
        outline: .125rem solid $light;
        outline-offset: .125rem;
      }
      &:checked + label{
        background: $light;
        color: $main;
      }
    }
    label{
      cursor: pointer;
      display: block;
      white-space: nowrap;
      border: .1rem solid $light;
      border-radius: 100vmax;
    }
  }
  
  .images{
    max-width: calc(var(--wrapper-max-width) - var(--wrapper-padding)*2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    padding: 0;
    li{
      cursor: pointer;
      aspect-ratio: 1/1;
      background-color: #222;
      background-size: cover;
      background-position: center;
    }
  }
}