*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./variables/colors";
@import "./ui/wrapper";
@import "./ui/typography";
@import "./ui/btn";
@import "../components/Header/Header";
@import "../pages/Home/Home";
@import "../pages/Home/ViewWindow";

body {
  overflow-x: hidden;
  background: $main;
}

ul{
  list-style: none;
}

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  aspect-ratio: 1/1;
  width: 2rem;
  border: .125rem solid $light;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  @keyframes loader{
    from{ transform: translate(-50%, -50%) rotate(0); }
    to{ transform: translate(-50%, -50%) rotate(360deg); }
  }
  animation: 1s loader linear infinite;
}