*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./variables/colors";
@import "./ui/wrapper";
@import "./ui/typography";
@import "./ui/btn";
@import "./pages/Home";
@import "./components/layout/Header";
@import "./components/ViewWindow";

body {
  background: $main;
}

ul{
  list-style: none;
}

.loader{
  position: absolute;
  left: 50%;
  top: 2rem;
  aspect-ratio: 1/1;
  width: 2rem;
  border: .125rem solid #ededed;
  border-bottom-color: transparent;
  border-radius: 50%;
  @keyframes loader{
    from{ transform: translateX(-50%) rotate(0); }
    to{ transform: translateX(-50%) rotate(360deg); }
  }
  animation: 1s loader linear infinite;
}