.Home{
  .dates{
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding: var(--wrapper-padding);
    &::-webkit-scrollbar {
      height: .5rem;
    }
    &::-webkit-scrollbar-thumb {
      background: lighten($main, 20); 
    }
    input[type=radio]{
      position: absolute;
      opacity: 0;
      &:focus-visible + label{
        outline: .125rem solid $light;
        outline-offset: .125rem;
      }
      &:checked + label{
        background: $light;
        color: $main;
      }
    }
    label{
      cursor: pointer;
      display: block;
      border: .0625rem solid $light;
      border-radius: 100vmax;
    }
  }
  
  .images{
    position: relative;
    max-width: calc(var(--wrapper-max-width) - var(--wrapper-padding)*2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding: 0;
    .loader{
      top: 2rem;
    }
    li{
      cursor: pointer;
      aspect-ratio: 1/1;
      background-color: #222;
      background-size: cover;
      background-position: center;
    }
  }
}