header{
  .logo{
    aspect-ratio: 208/129;
    width: 8rem;
    // background: url('/public/images/ui/logo.png');
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    filter: invert(1);
  }
}